body { background: #ae33b7; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 34px; display: flex; }
.block-user-0 { color: #49b175; font-size: 21px; margin-bottom: 5px; }
.block-token-1 { color: #1e13b3; font-size: 18px; margin-bottom: 5px; }
.block-sms-2 { color: #49f885; font-size: 19px; margin-bottom: 5px; }
.block-router-3 { color: #51b7f9; font-size: 17px; margin-bottom: 5px; }
.block-uploader-4 { color: #dd29c0; font-size: 18px; margin-bottom: 5px; }
.block-user-5 { color: #cdd391; font-size: 20px; margin-bottom: 5px; }
.block-auth-6 { color: #6dda74; font-size: 15px; margin-bottom: 5px; }
.block-metrics-7 { color: #8b6cc2; font-size: 18px; margin-bottom: 5px; }